@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.btn-blue {
    background-color: rgba(107, 114, 225, 0.6);
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: #6B72E1;
}